<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <carriers>
            <joseshipping>
                <active>0</active>
                <title>Jose Shipping Title</title>
                <name>Jose Shipping Method Name</name>
                <shipping_cost>10</shipping_cost>
                <sallowspecific>0</sallowspecific>
                <sort_order>15</sort_order>
                <model>Josemage\JoseShipping\Model\Carrier\Customshipping</model>
            </joseshipping>
        </carriers>
    </default>
</config>
