<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="locator" translate="label" sortOrder="1282400">
            <label>Locator</label>
        </tab>
        <section id="locator" translate="label" type="text" sortOrder="300" showInDefault="1" showInWebsite="1"
                 showInStore="1">
            <class>separator-top</class>
            <label>Store Locator</label>
            <tab>locator</tab>
            <resource>Josemage_StoreLocator::config_locator</resource>
            <group id="store_locator" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>Store Locator</label>
                <field id="enabled" translate="label" type="select" showInDefault="1" showInWebsite="1" showInStore="1"
                       canRestore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="api_key" translate="label" type="obscure" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1"
                       canRestore="1">
                    <label>API Token</label>
                    <comment>Google Api key</comment>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
