<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="storeintegration" frontName="storeintegration">
            <module name="Josemage_StoreIntegration" before="Magento_Core" after="Magento_Sales"/>
        </route>
    </router>
</config>
